---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProductCard from '../components/ProductCard.astro';
import { products } from '../data/products';
---

<BaseLayout>
  <section class="product-category">
    <div class="container">
      <div class="row">
        <div class="col-lg-9" style="max-width: 1100px; margin: 0 auto; padding: 180px 15px 60px;">
          <div class="category-listing catalogue-category-listing">
            <h2 class="common-h2" style="margin-bottom: 40px; text-align: center;" id="Product Catalogue">Product Catalogue</h2>

            {products.map((product, index) => (
              <ProductCard product={product} index={index} />
            ))}
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
