---
export interface Props {
  image: string;
}

const { image } = Astro.props;
---

<style>
  .paralax-image {
    overflow: hidden;
    min-height: 500px;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (max-width: 767px) {
    .paralax-image {
      background-size: contain;
      background-repeat: no-repeat;
      min-height: 300px;
    }
  }
</style>

<section
  class="paralax-image"
  style={`background-image: url('${image}');`}
>
</section>
